<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>646072619600-7u2rrjihdck7pdnastgina3jqd2dosts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646072619600-7u2rrjihdck7pdnastgina3jqd2dosts</string>
	<key>API_KEY</key>
	<string>AIzaSyBGffEOmKOk5H48N-3JTjQT8sOL6zM3wpo</string>
	<key>GCM_SENDER_ID</key>
	<string>646072619600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.supercoop.app-ios</string>
	<key>PROJECT_ID</key>
	<string>supercoop-9be7c</string>
	<key>STORAGE_BUCKET</key>
	<string>supercoop-9be7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646072619600:ios:56517ebc7b936064</string>
	<key>DATABASE_URL</key>
	<string>https://supercoop-9be7c.firebaseio.com</string>
</dict>
</plist>